# API Exploration

In [6]:
import pandas as pd


MAP_KEY = '4d0ad89f55e8cdd9550531c43b76788f'
url = 'https://firms.modaps.eosdis.nasa.gov/mapserver/mapkey_status/?MAP_KEY=' + MAP_KEY

try:
    df = pd.read_json(url, typ='series')
    display(df)
except ValueError:
    print("Failed to fetch data from the URL. Please check the URL or your internet connection.")

transaction_limit             5000
current_transactions           160
transaction_interval    10 minutes
dtype: object

In [ ]:
da_url = (
    "https://firms.modaps.eosdis.nasa.gov/api/data_availability/csv/" + MAP_KEY + "/all"
)
df = pd.read_csv(da_url)
display(df)

            data_id    min_date    max_date
0         MODIS_NRT  2025-02-01  2025-05-17
1          MODIS_SP  2000-11-01  2025-01-31
2  VIIRS_NOAA20_NRT  2025-02-01  2025-05-17
3   VIIRS_NOAA20_SP  2018-04-01  2025-01-31
4  VIIRS_NOAA21_NRT  2024-01-17  2025-05-17
5    VIIRS_SNPP_NRT  2025-02-01  2025-05-17
6     VIIRS_SNPP_SP  2012-01-20  2025-01-31
7       LANDSAT_NRT  2022-06-20  2025-05-17
8          GOES_NRT  2022-08-09  2025-05-17
9          BA_MODIS  2000-11-01  2025-02-01

In [3]:
# let's create a simple function that tells us how many transactions we have used.
# We will use this in later examples

def get_transaction_count() :
  count = 0
  try:
    df = pd.read_json(url,  typ='series')
    count = df['current_transactions']
  except:
    print ("Error in our call.")
  return count

tcount = get_transaction_count()
print ('Our current transaction count is %i' % tcount)

Our current transaction count is 5

In [4]:
# now let's see how many transactions we use by querying this end point

start_count = get_transaction_count()
pd.read_csv(da_url)
end_count = get_transaction_count()
print ('We used %i transactions.' % (end_count-start_count))

# now remember, after 10 minutes this will reset

We used 5 transactions.

## API / Area

In [5]:
# in this example let's look at VIIRS NOAA-20, entire world and the most recent day
area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/VIIRS_NOAA20_NRT/world/1'
start_count = get_transaction_count()
df_area = pd.read_csv(area_url)
end_count = get_transaction_count()
print ('We used %i transactions.' % (end_count-start_count))

df_area

We used 36 transactions.

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,61.77710,33.81172,316.54,0.54,0.42,2025-05-17,54,N20,VIIRS,n,2.0NRT,274.68,2.29,N
1,61.78056,33.81559,297.56,0.54,0.42,2025-05-17,54,N20,VIIRS,n,2.0NRT,274.25,1.03,N
2,64.64516,24.42389,325.14,0.39,0.36,2025-05-17,54,N20,VIIRS,n,2.0NRT,276.81,1.34,N
3,65.56310,22.22701,304.06,0.41,0.37,2025-05-17,54,N20,VIIRS,n,2.0NRT,277.78,1.35,N
4,65.56421,22.21833,309.47,0.41,0.37,2025-05-17,54,N20,VIIRS,n,2.0NRT,275.68,1.47,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27873,36.72861,-81.36157,332.75,0.50,0.70,2025-05-17,1728,N20,VIIRS,n,2.1URT,290.93,3.65,D
27874,40.89056,-77.70708,331.62,0.50,0.50,2025-05-17,1728,N20,VIIRS,n,2.1URT,297.73,3.47,D
27875,40.89225,-77.70665,334.55,0.50,0.50,2025-05-17,1728,N20,VIIRS,n,2.1URT,298.08,5.07,D
27876,47.57429,-58.99675,354.64,0.30,0.60,2025-05-17,1730,N20,VIIRS,n,2.1URT,286.14,6.31,D
27877,47.57450,-58.99234,344.28,0.30,0.60,2025-05-17,1730,N20,VIIRS,n,2.1URT,281.19,6.31,D

## API / Countries

In [6]:
countries_url = 'https://firms.modaps.eosdis.nasa.gov/api/countries'
df_countries = pd.read_csv(countries_url, sep=';')
df_countries

,id,abreviation,name,extent
0,1,ABW,Aruba,"BOX(-70.0624080069999 12.417669989,-69.8768204..."
1,2,AFG,Afghanistan,"BOX(60.4867777910001 29.3866053260001,74.89230..."
2,3,AGO,Angola,"BOX(11.6693941430001 -18.0314047239998,24.0617..."
3,4,AIA,Anguilla,"BOX(-63.4288223949999 18.1690941430001,-62.972..."
4,6,ALA,Aland Islands,"BOX(19.5131942070001 59.9044863950001,21.09669..."
...,...,...,...,...
239,234,WSM,Samoa,"BOX(-172.782582161 -14.052829685,-171.43769283..."
240,235,YEM,Yemen,"BOX(42.5457462900001 12.1114436720001,54.54029..."
241,236,ZAF,South Africa,"BOX(16.4699813160001 -46.965752863,37.97779381..."
242,237,ZMB,Zambia,"BOX(21.9798775630001 -18.0692318719999,33.6742..."
243,238,ZWE,Zimbabwe,"BOX(25.219369751 -22.3973397829999,33.04276818..."

## Country abbreviation
- South Korea -> abbreviation = `KOR`
- Nepal -> abbreviation = `NPL`

In [ ]:
df_countries[df_countries['abreviation'] == 'KOR']

## Country wise `csv` data

In [13]:
# Let's see last four days MODIS data for Peru
korea_url = 'https://firms.modaps.eosdis.nasa.gov/api/country/csv/' + MAP_KEY + '/MODIS_NRT/KOR/10'
korea_df = pd.read_csv(korea_url)
korea_df

,country_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,KOR,36.98992,126.69946,311.78,1.87,1.34,2025-05-08,54,Terra,MODIS,0,6.1NRT,294.56,19.59,D
1,KOR,35.44603,128.78455,305.95,3.51,1.76,2025-05-12,154,Terra,MODIS,57,6.1NRT,292.39,36.16,D
2,KOR,35.44978,128.78079,305.42,3.51,1.76,2025-05-12,154,Terra,MODIS,52,6.1NRT,292.76,34.33,D
3,KOR,37.14691,128.15056,310.71,1.46,1.19,2025-05-14,134,Terra,MODIS,48,6.1NRT,299.97,10.81,D
4,KOR,37.56362,127.85799,307.59,1.38,1.16,2025-05-14,134,Terra,MODIS,24,6.1NRT,293.26,9.16,D
5,KOR,35.09536,128.85632,313.75,1.78,1.31,2025-05-14,137,Terra,MODIS,0,6.1NRT,300.09,20.03,D
6,KOR,35.09666,128.19380,309.57,1.62,1.25,2025-05-14,137,Terra,MODIS,20,6.1NRT,293.52,11.78,D
7,KOR,35.14049,128.86945,312.14,1.78,1.31,2025-05-14,137,Terra,MODIS,26,6.1NRT,299.55,17.00,D
8,KOR,35.14645,128.17204,307.94,1.61,1.25,2025-05-14,137,Terra,MODIS,35,6.1NRT,294.74,9.19,D
9,KOR,35.94226,128.29424,313.52,1.58,1.24,2025-05-14,137,Terra,MODIS,29,6.1NRT,300.28,11.75,D
10,KOR,36.14408,128.45381,312.91,1.60,1.24,2025-05-14,137,Terra,MODIS,35,6.1NRT,300.83,13.13,D
11,KOR,36.59377,128.19667,312.04,1.51,1.21,2025-05-14,137,Terra,MODIS,46,6.1NRT,299.94,10.88,D
12,KOR,36.98560,126.70081,306.25,1.02,1.01,2025-05-14,1236,Terra,MODIS,58,6.1NRT,291.32,7.04,N

In [12]:
len(korea_df)

0

# Random Forest Classifier

In [ ]:
from dotenv import load_dotenv
import os

# Load the .env file
load_dotenv()

# Access the MAP_KEY
map_key = os.getenv("MAP_KEY")

print("MAP_KEY:", map_key)  # Optional, remove in production

In [2]:
import pandas as pd
from pathlib import Path

root_dir = Path("../datasets")
file_list = []
for path in root_dir.iterdir():
    for file in path.iterdir():
        # just read the .csv file
        if file.suffix == ".csv":
            file_list.append(file)

In [2]:
file_list

[PosixPath('../datasets/DL_FIRE_J1V-C2_601036/fire_archive_J1V-C2_601036.csv'),
 PosixPath('../datasets/DL_FIRE_SV-C2_601039/fire_archive_SV-C2_601039.csv'),
 PosixPath('../datasets/DL_FIRE_J1V-C2_601038/fire_archive_J1V-C2_601038.csv'),
 PosixPath('../datasets/DL_FIRE_SV-C2_601037/fire_archive_SV-C2_601037.csv')]

In [21]:
confidence_map = {"n": 0, "l": 1, "h": 2}
npl_file = [file_list[0], file_list[3]]  # file C2_601036, file C2_601037
kor_file = [file_list[2], file_list[1]]  # file C2_601039, file C2_601038
kor_df = pd.concat([pd.read_csv(file) for file in kor_file], ignore_index=True)
npl_df = pd.concat([pd.read_csv(file) for file in npl_file], ignore_index=True)
# npl_df["confidence"] = npl_df["confidence"].map(confidence_map)
# npl_df["confidence"] = npl_df["confidence"].astype(int)
# kor_df["confidence"] = kor_df["confidence"].map(confidence_map)
# kor_df["confidence"] = kor_df["confidence"].astype(int)
npl_df.loc[:, "country"] = "NPL"
kor_df.loc[:, "country"] = "KOR"
npl_df.drop(columns=["acq_date"], inplace=True)
kor_df.drop(columns=["acq_date"], inplace=True)

In [22]:
npl_df['instrument'].unique()

array(['VIIRS'], dtype=object)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import joblib

unnecessary_columns = ["country", "version", "instrument", "satellite", "type"]
selected_columns = [col for col in npl_df.columns if col not in unnecessary_columns]
npl_df = npl_df[selected_columns]

# Convert country and other categorical variables using one-hot encoding
npl_train_df = pd.get_dummies(npl_df, columns=["daynight", "confidence"])

# all features except the confidence column
features = [
    col
    for col in npl_train_df.columns
    if col not in ["confidence", "confidence_h", "confidence_l", "confidence_n"]
]

X = npl_train_df[features]
y = npl_train_df[["confidence_h", "confidence_l", "confidence_n"]]

# Split the combined data ensuring stratification if applicable
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

# Assuming your trained model is called 'model'
joblib.dump(model, "wildfire_model.pkl")

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       747
           1       0.77      0.78      0.78      4473
           2       0.98      0.98      0.98     44516

   micro avg       0.96      0.96      0.96     49736
   macro avg       0.91      0.92      0.91     49736
weighted avg       0.96      0.96      0.96     49736
 samples avg       0.96      0.96      0.96     49736

/home/blackphoenix/anaconda3/envs/dss/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

['wildfire_model.pkl']

# Get new data

In [ ]:
import pandas as pd

url = "https://firms.modaps.eosdis.nasa.gov/mapserver/mapkey_status/?MAP_KEY=" + MAP_KEY

try:
    df = pd.read_json(url, typ="series")
    display(df)
except ValueError:
    print(
        "Failed to fetch data from the URL. Please check the URL or your internet connection."
    )
npl_url = (
    "https://firms.modaps.eosdis.nasa.gov/api/country/csv/"
    + MAP_KEY
    + "/MODIS_NRT/NPL/10"
)
new_npl_df = pd.read_csv(npl_url)
new_npl_df.head()

transaction_limit             5000
current_transactions           160
transaction_interval    10 minutes
dtype: object

,country_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,NPL,27.52592,83.92424,327.17,1.35,1.15,2025-05-09,902,Aqua,MODIS,73,6.1NRT,307.93,17.57,D
1,NPL,27.63933,84.93134,319.75,1.57,1.23,2025-05-09,902,Aqua,MODIS,46,6.1NRT,293.58,21.07,D
2,NPL,28.15774,81.89729,321.89,1.09,1.04,2025-05-09,902,Aqua,MODIS,65,6.1NRT,305.30,7.99,D
3,NPL,28.27761,81.48524,324.39,1.06,1.03,2025-05-09,902,Aqua,MODIS,54,6.1NRT,307.09,6.84,D
4,NPL,28.63740,80.87270,322.80,1.03,1.01,2025-05-09,902,Aqua,MODIS,56,6.1NRT,306.44,6.90,D

In [27]:
new_npl_df = new_npl_df[selected_columns]
new_npl_df.head()
# Convert country and other categorical variables using one-hot encoding
npl_test_df = pd.get_dummies(new_npl_df, columns=["daynight"])

In [28]:
npl_test_df.head()

,latitude,longitude,brightness,scan,track,acq_time,confidence,bright_t31,frp,daynight_D,daynight_N
0,27.52592,83.92424,327.17,1.35,1.15,902,73,307.93,17.57,True,False
1,27.63933,84.93134,319.75,1.57,1.23,902,46,293.58,21.07,True,False
2,28.15774,81.89729,321.89,1.09,1.04,902,65,305.30,7.99,True,False
3,28.27761,81.48524,324.39,1.06,1.03,902,54,307.09,6.84,True,False
4,28.63740,80.87270,322.80,1.03,1.01,902,56,306.44,6.90,True,False

In [29]:
import joblib

# Load the trained model
model = joblib.load("wildfire_model.pkl")
# Predict probabilities for each class
new_probabilities = model.predict_proba(npl_test_df[features])
print(new_probabilities)

[array([[0.99, 0.01],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.98, 0.02],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.98, 0.02],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.97, 0.03],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ]]), array([[0.54, 0.46],
       [0.92, 0.08],
       [0.31, 0.69],
       [0.44, 0.56],
       [0.39, 0.61],
       [0.55, 0.45],
       [0.29, 0.71],
       [0.34, 0.66],
       [0.98, 0.02],
       [0.98, 0.02],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.82, 0.18],
       [0.42, 0.58],
       [0.62, 0.38],
       [1.  , 0.  ],
       [0.76, 0.24],
       [1.  , 0.  ],
       [0.51, 0.49],
       [0.53, 0.47],
       [0.57, 0.43],
       [0.45, 0.55],
       [0.44, 0.56],
       [0.44, 0.56],
       [0.44, 0.56],
       [0.53, 0.47],
       [0.34, 0.66],
       [0.38, 0.62],
       [0.46, 0.54],
       [0.43, 0.57],
       [0.85, 0.15],
       [0.96, 0.04],
       [0.39, 0.61],
       [0.42, 0.58],
       [0.4 , 0.6 ],
       [0.5 , 0.5 ],
       [0.52, 0.48],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.31, 0.69],
       [0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.49, 0.51],
       [0.49, 0.51],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.59, 0.41]]), array([[0.47, 0.53],
       [0.09, 0.91],
       [0.69, 0.31],
       [0.57, 0.43],
       [0.61, 0.39],
       [0.47, 0.53],
       [0.71, 0.29],
       [0.66, 0.34],
       [0.05, 0.95],
       [0.04, 0.96],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.18, 0.82],
       [0.58, 0.42],
       [0.38, 0.62],
       [0.  , 1.  ],
       [0.24, 0.76],
       [0.01, 0.99],
       [0.49, 0.51],
       [0.47, 0.53],
       [0.43, 0.57],
       [0.55, 0.45],
       [0.56, 0.44],
       [0.56, 0.44],
       [0.56, 0.44],
       [0.47, 0.53],
       [0.66, 0.34],
       [0.62, 0.38],
       [0.54, 0.46],
       [0.58, 0.42],
       [0.16, 0.84],
       [0.07, 0.93],
       [0.61, 0.39],
       [0.58, 0.42],
       [0.6 , 0.4 ],
       [0.5 , 0.5 ],
       [0.48, 0.52],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.69, 0.31],
       [0.02, 0.98],
       [0.01, 0.99],
       [0.  , 1.  ],
       [0.51, 0.49],
       [0.51, 0.49],
       [0.02, 0.98],
       [0.04, 0.96],
       [0.02, 0.98],
       [0.  , 1.  ],
       [0.01, 0.99],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.41, 0.59]])]